<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preference Shares Price</title>
</head>
<body>
    {% include 'home_menu/operations_menu.html' %}

    <h1>{{ operation_name }}</h1>

    <form method="POST">
        {% csrf_token %}
        {% for field in input_fields %}
            <label for="{{ field.name }}">{{ field.label }}</label>
            <br>{{ field.description }}<br>
            <input type="number" step="any" name="{{ field.name }}" required value="{{ field.value|default_if_none:'' }}" placeholder="{{ field.placeholder }}">
            <br><br>
        {% endfor %}
{#        <label for="div">Dividends</label><br>#}
{#        Enter the dividend of the preference share:<br>#}
{#        #}
{#        <input type="number" step="any" name="div" required value="{{ div|default_if_none:'' }}" placeholder="Enter dividend"> <br><br>#}
{#        #}
{#        <label for="r">Rate of Return</label><br>#}
{#        Enter the required rate of return (as a decimal, e.g., 0.08 for 8%):<br>#}
{#        #}
{#        <input type="number" step="any" name="r" required value="{{ r|default_if_none:'' }}" placeholder="Enter rate of return"> <br><br>#}
        
        <button type="submit">Calculate</button>
        
    </form>
    
    <br><br>
    <a href="{% url 'home' %}">
        <button type="button">Home Page</button>
    </a>

    {% if result is not None %}
        <h2>{{ operation_name }}: {{ result }}</h2>
    {% endif %}
    
    <p>May add  text information, formula and variables explanation....</p>
</body>
</html>