{% extends 'home_menu/home.html' %}

{% block content %}
    <h3>Live Stock Price</h3>
    

    <form method="GET" action="{% url 'stock_price' %}">
    <label for="symbol">Enter Stock Symbol (e.g., AAPL):</label>
    <input type="text" name="symbol" id="symbol" value="{{ symbol }}">
    <button type="submit">Get Price</button>
    </form>
    
    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}
    
    {% if stock_price %}
        <h2>Stock Price for {{ symbol }}: ${{ stock_price }}</h2>
    {% endif %}
            
        <br><br>
    <a href="{% url 'home' %}">
        <button type="button">Home Page</button></a>

{% endblock %}