<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Stock Price</title>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .error {
            color: red;
        }
        .stock-info {
            margin-top: 20px;
        }
    </style>
</head>
<body>
{% include 'home_menu/operations_menu.html' %}
    <h1>Live Stock Price</h1>
    

    <form method="GET" action="{% url 'stock_price' %}">
    <label for="symbol">Enter Stock Symbol (e.g., AAPL):</label>
    <input type="text" name="symbol" id="symbol" value="{{ symbol }}">
    <button type="submit">Get Price</button>
    </form>
    
    {% if error_message %}
        <p class="error">{{ error_message }}</p>
    {% endif %}
    
    {% if stock_price %}
        <h2>Stock Price for {{ symbol }}: ${{ stock_price }}</h2>
    {% endif %}
            
        <br><br>
    <a href="{% url 'home' %}">
        <button type="button">Home Page</button></a>
    
    </div>
</body>
</html>