{% extends 'home_menu/home.html' %}

{% block content %}

<h3>Top 10 Stock Prices</h3>

{% if error_message %}
    <p class="error">{{ error_message }}</p>
{% endif %}

<table>
    <thead>
        <tr>
            <th>Stock Symbol</th>
            <th>Live Price (USD)</th>
        </tr>
    </thead>
    <tbody>
        {% for symbol, price in stock_prices.items %}
        <tr>
            <td>{{ symbol }}</td>
            <td>${{ price }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

        <br><br>
    <a href="{% url 'home' %}">
        <button type="button">Home Page</button></a>

{% endblock %}