{% extends 'base.html' %}
{% load static %}



{% block content %}

        {% if not recipe_list %}
      <p class="no-articles">There are currently no recipes available.</p>
    {% else %}
     {% for recipe in recipe_list %}
      <!-- Display a card with information about each recipe (if any)-->
      <section id="catalogue">
        <!-- first recipe-->
        <div class="recipe-card">
          <div class="image-wrap">
            <!-- recipe image -->
            <!-- if there is no image url provided, display the default recipe image -->

            {% if recipe.image_url %}
                <img class="recipe-img" src="{{ recipe.image_url }}" alt="recipe image" />
            {% else %}
                            <!-- If no image_url is provided, show the default image -->
                <img class="recipe-img" src="{% static 'images/default_recipe_img.png' %}" alt="default recipe image" />
            {% endif %}
          </div>
          <!-- recipe title -->
          <h3>{{ recipe.title}}</h3>
          <!-- recipe cooking time -->
          <h1>Cooking time: {{ recipe.cooking_time }}</h1>
          <!-- recipe instructions -->
          <h1>{{ recipe.instructions|slice:'35'}}</h1>
          <div class="details-buttons">
            <!-- recipe details button -->
            <a href="{% url 'recipe_details' recipe.id %}" class="details-btn">Details</a>
          </div>
        </div>
      {% endfor %}
    {% endif %}
      </section>

{% endblock %}