{% extends 'home_menu/home.html' %}
{% load static %}


{% block content %}

    <div class="container vh-100 d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-md-11 ms-5">

                <div class="form-container">
                    <h3 class="text-center">{{ operation_name }}</h3>
                    <br><br>

                    <form method="POST" class="needs-validation" novalidate>
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="mb-4">
                                {{ form.as_p }}
                            </div>
                        </div>

                        <div class="d-grid gap-2">
                            <button type="submit" class="btn btn-primary">Calculate</button>
                        </div>
                    </form>

                    {% if error_message %}
                        <p style="color:red;">{{ error_message }}</p>
                    {% endif %}
                
                    {% if result is not None and not error_message %}
                        <div class="alert alert-success mt-3 text-center">
                            <h4>{{ operation_name }}: {{ result }}</h4>
                            {#                        <h4>{{ result }}</h4>#}
                        </div>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

    <p>May add text information, formula and variables explanation....</p>

{% endblock %}