<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Menu</title>
</head>
<body>
    <ul>
            <li>
                <a href="{% url 'preference_shares' %}">Option 1: Calculate Preference Shares Price</a>
            </li>
            
            <li>
                <a href="{% url 'ordinary_shares' %}">Option 2: Calculate Ordinary Shares Price</a>
            </li>
        
            <li>
                <a href="{% url 'return_on_equity' %}">Option 3: Calculate Return on Equity</a>
            </li>
        </ul>

</body>
</html>